﻿@using Nop.Plugin.Misc.ReplyEmail.Models

@model ReplyEmailInfoModel

<style>
    #reply-email-info-update-notification {
        color: green;
        font-weight: bold;
    }
</style>


<form asp-controller="ReplyEmail" asp-action="Edit" method="post">
    <div class="card card-default">
        <div class="card-body">

            <input asp-for="MessageTemplateId" type="hidden" />

            <div class="form-group row">                    
                <div class="col-md-3">
                    <nop-label asp-for="ReplyTo" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="ReplyTo" asp-items="Model.AllowedTokens"/>
                    <span asp-validation-for="ReplyTo"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-md-9 offset-md-3">
                    <button type="button" name="save" class="btn btn-primary" 
                    id="reply-email-info-form">@T("Admin.Common.Save")</button>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-9 offset-md-3" id="reply-email-info-update-notification">
                </div>
            </div>


        </div>
    </div>

</form>

<script type="text/javascript">
    $(document).ready(function(){
        $('#reply-email-info-form').on('click', function(){

            var messageTemplateId = $('#MessageTemplateId').val();
            var replyTo = $('#ReplyTo').val();
            
            var postData = {
                MessageTemplateId:messageTemplateId,
                ReplyTo:replyTo,
            };

            addAntiForgeryToken(postData);

            var route = "@(Url.Action("Edit","ReplyEmail"))";

            $.ajax({
                cache:false,
                method:"POST",
                url:route,
                data:postData,
                success: function (data, textStatus, jqXHR) {
                    if (data.Result) {
                        $('#reply-email-info-update-notification').text('Successfully updated').css('color', 'green');
                        $('#reply-email-info-update-notification').show();
                        $('#reply-email-info-update-notification').delay(3500).fadeOut('slow');
                    }
                    else {
                        //display errors if returned
                        $('#reply-email-info-update-notification').text('error occured').css('color','red');
                        $('#reply-email-info-update-notification').show();
                        $('#reply-email-info-update-notification').delay(3500).fadeOut('slow');
                    }
                },

                error: function (jqXHR, textStatus, errorThrown) {
                    $('#reply-email-info-update-notification').text('Failed to update').css('color', 'red');
                    $('#reply-email-info-update-notification').show();
                    $('#reply-email-info-update-notification').delay(3500).fadeOut('slow');
                },

                complete: function (jqXHR, textStatus) {
                }
            });
        });
    });
</script>


