﻿@model MembershipModel


<div class="form-group row">                    
    <div class="col-md-3">
        <nop-label asp-for="IsActive" />
    </div>
    <div class="col-md-9">
        <nop-editor asp-for="IsActive"/>
        <span asp-validation-for="IsActive"></span>
    </div>
</div>
<div class="form-group row advanced-setting">
	<div class="col-md-3">
		<nop-label asp-for="SelectTargetTotalPrice" />
	</div>
	<div class="col-md-9">
		<nop-editor asp-for="SelectTargetTotalPrice" />
		<span asp-validation-for="SelectTargetTotalPrice"></span>
	</div>
</div>

<nop-nested-setting asp-for="SelectTargetTotalPrice" disable-auto-generation="true">

    <div id="target-order-count" class="form-group row">                    
        <div class="col-md-3">
            <nop-label asp-for="TargetOrderCount" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="TargetOrderCount" />
            <span asp-validation-for="TargetOrderCount"></span>
        </div>
    </div>
    <div id="target-total-price" class="form-group row">                    
        <div class="col-md-3">
            <nop-label asp-for="TargetTotalPrice" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="TargetTotalPrice" asp-postfix="$"/>
            <span asp-validation-for="TargetTotalPrice"></span>
        </div>
    </div>

</nop-nested-setting>

<script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.SelectTargetTotalPrice)").click(togglePageSize);

        togglePageSize();
    });

    function togglePageSize() {
        if ($('#@Html.IdFor(model => model.SelectTargetTotalPrice)').is(':checked')) {
            $('#target-order-count').hideElement();
            $('#target-total-price').showElement();
        } else {
            $('#target-order-count').showElement();
            $('#target-total-price').hideElement();
        }
    }
</script>
