﻿@model MembershipSearchModel

@{
    //Layout = "_ConfigurePlugin";
	var customerRoles = ViewBag.CustomerRoles;
}

@{
    const string hideSearchBlockAttributeName = "CustomerListPage.HideSearchBlock";
    var hideSearchBlock = true;
}

<form asp-controller="Membership" asp-action="Configure" method="post">
<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Plugins.Discount.Membership.Name")
    </h1>
    <div class="float-right">
        <a asp-controller="Membership" asp-action="Create" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
      
        <button type="button" id="delete-selected" class="btn btn-danger">
            <i class="far fa-trash-alt"></i>
            @T("Admin.Common.Delete.Selected")
        </button>
        <nop-action-confirmation asp-button-id="delete-selected" />
    </div>
</div>

<section class="content">
	<div class="container-fluid">
        <div class="form-horizontal">
			<div class="cards-group">

				@*Adding Searching Properties*@

				<div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="CustomerRoleName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="CustomerRoleName" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="text-center col-12">
                                    <button type="button" id="search-membership" class="btn btn-primary btn-search"><i class="fas fa-search"></i>@T("Admin.Common.Search")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

				@*Ending Searching Properties*@


				<div class="card card-default">
                    <div class="card-body">
						@await Html.PartialAsync("Table", new DataTablesModel()
						{
							Name = "membership-grid",
                            UrlRead = new DataUrl("Configure", "Membership", null),

							SearchButtonId = "search-membership",
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            Filters = new List<FilterParameter>
							{
								new FilterParameter(nameof(Model.CustomerRoleName))
							},

							ColumnCollection = new List<ColumnProperty>
							{
								new ColumnProperty(nameof(MembershipModel.Id))
								{
									IsMasterCheckBox = true,
                                    Render = new RenderCheckBox("checkbox_memberships"),
                                    ClassName =  NopColumnClassDefaults.CenterAll,
                                    Width = "50"
								},
								new ColumnProperty(nameof(MembershipModel.CustomerRoleName))
                                {
                                    Title = T("Plugins.Discount.Membership.Fields.CustomerRole").Text
                                },
								new ColumnProperty(nameof(MembershipModel.IsActive))
                                {
                                    Title = T("Plugins.Discount.Membership.Fields.IsActive").Text,
                                    Width = "100",
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Render = new RenderBoolean()
                                },
								new ColumnProperty(nameof(MembershipModel.SelectTargetTotalPrice))
                                {
                                    Title = T("Plugins.Discount.Membership.Fields.SelectTargetTotalPrice").Text,
                                    Width = "100",
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Render = new RenderBoolean()
                                },
								new ColumnProperty(nameof(MembershipModel.TargetOrderCount))
                                {
                                    Title = T("Plugins.Discount.Membership.Fields.TargetOrderCount").Text,
                                    Width = "150",
                                    ClassName =  NopColumnClassDefaults.CenterAll
                                },
								new ColumnProperty(nameof(MembershipModel.TargetTotalPrice))
                                {
                                    Title = T("Plugins.Discount.Membership.Fields.TargetTotalPrice").Text,
                                    Width = "150",
                                    ClassName =  NopColumnClassDefaults.CenterAll
                                },

								new ColumnProperty(nameof(MembershipModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "100",
                                    ClassName =  NopColumnClassDefaults.Button,
                                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                                }
							}
						})

						<script>
                            $(document).ready(function () {
                                $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("DeleteSelected", "Membership"))",
                                        data: postData,
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            showAlert('deleteSelectedFailed', errorThrown);
                                        },
                                        complete: function (jqXHR, textStatus) {
                                            if (jqXHR.status === 204)
                                            {
                                                showAlert('nothingSelectedAlert', '@T("Admin.Common.Alert.NothingSelected")');
                                                return;
                                            }
                                            updateTable('#membership-grid');
                                        }
                                    });
                                    $('#delete-selected-action-confirmation').modal('toggle');
                                    return false;
                                });
                            });
                        </script>
                        <nop-alert asp-alert-id="deleteSelectedFailed" />
                        <nop-alert asp-alert-id="nothingSelectedAlert" />

					</div>
				</div>
			</div>
		</div>
	</div>

</section>

</form>

