﻿@model MembershipModel


<form asp-controller="Membership" asp-action="Create" method="post">    
    <section class="content">
        <div class="container-fluid">
			<div class="content-header clearfix">
				<h1 class="float-left">
					<small>
						<i class="fas fa-arrow-circle-left"></i>
						<a asp-action="Configure">@T("Plugins.Discount.Membership.BackToList")</a>
					</small>
				</h1>
				<div class="float-right">
				</div>
			</div>

            <div class="card card-default">
                <div class="card-body">
					<p>Create New Membership</p>
                    <hr/>

					<div asp-validation-summary="All"></div>

                    <div class="form-group row">                    
                        <div class="col-md-3">
                            <nop-label asp-for="CustomerRoleId" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="CustomerRoleId" asp-items="Model.CustomerRoles"/>
                            <span asp-validation-for="CustomerRoleId"></span>
                        </div>
                    </div>

					@await Html.PartialAsync("~/Plugins/Discount.Membership/Views/_CreateOrUpdate.cshtml", Model)

                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </section>
</form>


