@model MembershipModel


<form asp-controller="Membership" asp-action="Edit" method="post" id="membership-form">
    <section class="content">
        <div class="container-fluid">

            <div class="content-header clearfix">
                <h1 class="float-left">
                    <small>
                        <i class="fas fa-arrow-circle-left"></i>
                        <a asp-action="Configure">@T("Plugins.Discount.Membership.BackToList")</a>
                    </small>
                </h1>
                <div class="float-right">
            
                    <button type="submit" name="save" class="btn btn-primary">
                        <i class="far fa-save"></i>
                        @T("Admin.Common.Save")
                    </button>
                    <span id="membership-delete" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i>
                        @T("Admin.Common.Delete")
                    </span>
                </div>
            </div>

            <div class="card card-default">
                <div class="card-body">
                    <p>Update Membership - @Model.CustomerRoleName</p>
                    <hr/>
                    <input asp-for="Id" type="hidden" />
                    <input asp-for="CustomerRoleId" type="hidden" />
                    <div class="form-group row">                    
                        <div class="col-md-3">
                            <nop-label asp-for="CustomerRoleName" />
                        </div>
                        <div class="col-md-9">
                            <input asp-for="CustomerRoleName" class="form-control" readonly/>
                            <span asp-validation-for="CustomerRoleName"></span>
                        </div>
                    </div>
                @await Html.PartialAsync("~/Plugins/Discount.Membership/Views/_CreateOrUpdate.cshtml", Model)
                </div>
            </div>

        </div>
    </section>
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="membership-delete" />

