﻿@model MembershipModel

<style>
    #membership-info-update-notification {
        color: green;
        font-weight: bold;
    }
</style>

@if(Model.CustomerRoleId > 0)
{
    if(Model.Id > 0)
    {
        <form asp-controller="Membership" asp-action="Edit" method="post"> 
            <section class="content">
                <div class="container-fluid">
                    <div class="card card-default">
                        <div class="card-body">
					        <p>Create New Membership With this Role</p>
                            <hr/>

					        <div asp-validation-summary="All"></div>
                            <input asp-for="Id" type="hidden" />
                            <input asp-for="CustomerRoleId" type="hidden" />
                            <input asp-for="CustomerRoleName" type="hidden" />

					        @await Html.PartialAsync("~/Plugins/Discount.Membership/Views/_CreateOrUpdate.cshtml", Model)

                            <div class="form-group row">
                                <div class="col-md-9 offset-md-3">
                                    <button type="button" name="save" class="btn btn-primary" 
                                    id="membership-form">@T("Admin.Common.Save")</button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-9 offset-md-3" id="membership-info-update-notification">

                                </div>

                            </div>
                        </div>
                    </div>
		        </div>
            </section>
        </form>
    }
    else
    {
        <form asp-controller="Membership" asp-action="Create" method="post"> 
            <section class="content">
                <div class="container-fluid">
                    <div class="card card-default">
                        <div class="card-body">
					        <p>Create New Membership With this Role</p>
                            <hr/>

					        <div asp-validation-summary="All"></div>
                            <input asp-for="Id" type="hidden" />
                            <input asp-for="CustomerRoleId" type="hidden" />
                            <input asp-for="CustomerRoleName" type="hidden" />

					        @await Html.PartialAsync("~/Plugins/Discount.Membership/Views/_CreateOrUpdate.cshtml", Model)

                            <div class="form-group row">
                                <div class="col-md-9 offset-md-3">
                                    <button type="button" name="save" class="btn btn-primary" 
                                    id="membership-form">@T("Admin.Common.Save")</button>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-9 offset-md-3" id="membership-info-update-notification">

                                </div>

                            </div>
                        </div>
                    </div>
		        </div>
            </section>
        </form>
    }
    
}
else
{
    <section class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-body">
					    <p>You need to save the role before creating membership.</p>
                        <hr/>
                    </div>
                </div>
            </div>
    </section>
}

<script type="text/javascript">
    $(document).ready(function(){
        $('#membership-form').on('click', function(){

            //$('#membership-form').attr('disabled', true);

            var customerRoleId = $('#CustomerRoleId').val();
            var customerRoleName = $('#CustomerRoleName').val();
            var isActive = $('#@Html.IdFor(model => model.IsActive)').is(':checked');
            var selectTargetTotalPrice = $('#@Html.IdFor(model => model.SelectTargetTotalPrice)').is(':checked');
            var targetOrderCount = $('#TargetOrderCount').val();
            var targetTotalPrice = $('#TargetTotalPrice').val();

            var postData = {
                CustomerRoleId:customerRoleId,
                CustomerRoleName:customerRoleName,
                IsActive:isActive,
                SelectTargetTotalPrice:selectTargetTotalPrice,
                TargetOrderCount:targetOrderCount,
                TargetTotalPrice:targetTotalPrice
            };

            addAntiForgeryToken(postData);

            var route = "@(Url.Action("Create","Membership"))";

            var membershipId = "@Model.Id";

            if(membershipId > 0) {
                route = "@(Url.Action("Edit","Membership", new {id = Model.Id}))";
            }

            $.ajax({
                cache:false,
                method:"POST",
                url:route,
                data:postData,
                success: function (data, textStatus, jqXHR) {
                    if (data.Result) {
                        $('#membership-info-update-notification').text('Successfully updated').css('color', 'green');
                        $('#membership-info-update-notification').show();
                        $('#membership-info-update-notification').delay(3500).fadeOut('slow');
                    }
                    else {
                        //display errors if returned
                        //displayBarNotification(data.Msg, 'error', 3500);
                        //$('#membership-info-update-notification').text('error occured').css('color','red');
                        $('#membership-info-update-notification').text('Successfully updated').css('color','red');

                        $('#membership-info-update-notification').show();
                        $('#membership-info-update-notification').delay(3500).fadeOut('slow');
                    }
                },

                error: function (jqXHR, textStatus, errorThrown) {
                    $('#membership-info-update-notification').text('Failed to update').css('color', 'red');
                    $('#membership-info-update-notification').show();
                    $('#membership-info-update-notification').delay(3500).fadeOut('slow');
                },

                complete: function (jqXHR, textStatus) {
                   // $('#membership-form').attr('disabled', false);
                }
            });
        });
    });
</script>
