﻿@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework

@inject INopHtmlHelper NopHtml

@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Nop.Web.Framework.UI
@using Nop.Web.Framework.Extensions
@using System.Text.Encodings.Web

@using Nop.Plugin.Payments.QCardPayment.Areas.Admin.Models

@model QCardPaymentConfigureModel
﻿@{
	Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-area="Admin" asp-controller="QCardPaymentAdmin" asp-action="Configure" method="post">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-default">
                <div class="card-body">

                    <div class="form-group row">                    
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="UseSandbox_OverrideForStore" asp-input="UseSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="UseSandbox" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="UseSandbox"/>
                            <span asp-validation-for="UseSandbox"></span>
                        </div>
                    </div>

                    <div class="form-group row">                    
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="MerchantId_OverrideForStore" asp-input="MerchantId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="MerchantId" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="MerchantId"/>
                            <span asp-validation-for="MerchantId"></span>
                        </div>
                    </div>

                    <div class="form-group row">                    
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="LoginId_OverrideForStore" asp-input="LoginId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="LoginId" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="LoginId"/>
                            <span asp-validation-for="LoginId"></span>
                        </div>
                    </div>

                    <div class="form-group row">                    
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="Password_OverrideForStore" asp-input="Password" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="Password" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Password"/>
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>

                    <div class="form-group row">                    
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="ApiKey_OverrideForStore" asp-input="ApiKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="ApiKey" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="ApiKey"/>
                            <span asp-validation-for="ApiKey"></span>
                        </div>
                    </div>

                    <div class="form-group row">                    
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="AdditionalFee" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="AdditionalFee"/>
                            <span asp-validation-for="AdditionalFee"></span>
                        </div>
                    </div>

                    <div class="form-group row">                    
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="AdditionalFeePercentage" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="AdditionalFeePercentage"/>
                            <span asp-validation-for="AdditionalFeePercentage"></span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
     </section>

</form>