﻿
@model ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

<form method="post" asp-controller="WidgetsHelloWorld" asp-action="Configure">
	<input asp-for="Name" />
	<input type="submit" value="submit" />
</form>